@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #48CFC5;
  --color-text: #08090a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  /*--color-gray: #b5bdc4; */
  --color-gray: #4AA2B8;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.push-left {
  margin-left: auto;
}
/* Navbar */

.navbar {
  height: 70px;
  width: 100%;
  background: black;
  color: var(--colors-text);
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  border-bottom: 1px solid var(--color-gray);
  z-index: 99;
  border-color: white;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar li {
  border-radius: 50%;
  color: white;
}

/* Buttons */

.btn, button {
  background-color: var(--color-gray);
  border: none;
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}


button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled]{
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-black {
  background-color: black;
  color: white;
}
button.btn-show{
  border: 1px solid white;
}

button.btn-red {
  background-color: var(--color-red);
  color: white;
}

button.btn-green {
  background-color: var(--color-green);
  color: white;
}

button.btn-logo {
  background-color: var(--color-text);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
/* Loader */

.loader {
  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-div{

}
/* Cards */

.card {
  padding: 2rem;
  margin: 1rem 0;
  background-color: #FDF2FF;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  max-width: 1000px;
}

.card footer {
  display: flex;
}

.card-img-center {
  width:20%;
  display:block;
  margin:auto;
  border-radius: 50%;
  max-width: 150px;
}

.card-info {
  color: white;
  background: var(--color-blue);
}
.card-container{
  margin-top: 10px

}
.card-explanation{
  background-color: #EBE1ED ;
  border-radius: 8px;
  font-size: 1.5rem;
  font-style: italic;
}
.card-title{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
}
.card-date{
  font-size: 1.3rem;
}
.heart{
  font-size: 1.5rem;
}
.btn-logger{
  margin-left: 40%;
}
.logger{
  background-color: #EBE1ED;
  max-width: 700px;
  height: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 25px;
  padding-top: 10%;
  font-size: 1.5rem;
  color: black;
}
/* footer */

.footer {
  height: 70px;
  max-height: 70px;
  width: 100%;
  background: black;
  bottom: 0;
  padding: 0 10vw;
  border-top: 1px solid var(--color-gray);
  z-index: 99;
  border-color: white;
}
.footer-text{
  color: #eaeaea;
  text-align: center;
  font-size: 1rem;
  padding-top: 10px;
}


